.env
.env.base
.idea/
__pycache__/
.pytest_cache/
.coverage
coverage.xml

data/
playground.py

CI_JOB_TOKEN
resources/Zensus2022_Bevoelkerungszahl_100m-Gitter.csv
resources/Zensus2022_Durchschn_Flaeche_je_Bewohner_100m-Gitter.csv
resources/Zensus2022_Gebaeude_nach_Baujahr_in_Mikrozensus_Klassen_100m-Gitter.csv
resources/Zensus2022_Gebaeude_mit_Wohnraum_nach_Energietraeger_der_Heizung_100m-Gitter.csv
